/* Main Wrapper */
.login-wrapper-flex {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* LEFT PANEL */
.left-side {
  width: 50%;
  background: #c69a82; /* SAME COLOR FROM SCREENSHOT */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.left-img {
  width: 55%;
  max-width: 350px;
  margin-bottom: 25px;
}

.left-title {
  font-size: 26px;
  color: white;
  margin-top: 15px;
  font-weight: 600;
}

.left-desc {
  width: 70%;
  font-size: 16px;
  color: #f5f5f5;
  margin-top: 10px;
  line-height: 1.4;
}

/* RIGHT PANEL */
.right-side {
  width: 50%;
  padding: 70px 110px;
}

.brand {
  font-size: 32px;
  font-weight: 700;
}

.welcome {
  color: #555;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

/* FORM */
.form label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  font-size: 15px;
}

.form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 15px;
}

.forgot {
  display: block;
  text-align: right;
  color: #0056ff;
  font-size: 14px;
  margin-bottom: 15px;
  text-decoration: none;
}

/* LOGIN BUTTON */
.btn-login {
  width: 100%;
  padding: 12px;
  background: #383838;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 25px 0;
  color: #777;
}

/* GOOGLE BUTTON */
.google-btn {
  width: 100%;
  padding: 12px;
  background: white;
  border: 1px solid #bdbdbd;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

/* BOTTOM TEXT */
.create-text {
  margin-top: 20px;
  font-size: 15px;
}

.create-link {
  color: #0056ff;
  margin-left: 5px;
  text-decoration: none;
}

/* ERROR */
.error {
  background: #ffe1e1;
  color: red;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}
