/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* optional: hide scrollbar in modern browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
